@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import "custom";

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4 {
    font-family: "playfair display";
}

/* --- boutons liens du site ----*/

.btn{
    color: $dark;
    background-color: $primary;
}
    .btn:hover{
    border-color: $primary;
    background-color: transparent;
}

/* ---- header ----*/


.navbar-toggler{
    display: flex;
    width: 2.4em;
    height: 2.4em;
    align-items: center;
    justify-content: center;
}

.nav-link{
    color: $primary;
    font-size: 1.1rem;
}
.nav-link:hover{
    color: $secondary;
}

.btn-connection {
    background-color: transparent;
    border-color: transparent;
}
.connection-text {
    display: none;
    font-size: 18px;
}

@media screen and (min-width: 992px) {
    .connection-text{
        display : inline;
    }
}

/* ---- headline -----*/

#headline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 324px;
    background-image: url(/assets/Images/Headline.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.headline-content{
    h1{
        font-family: "indie flower";
        color: $primary;
        font-size: 3em;
    }
    
    p{
        font-family: "playfair display";
        font-size: 2em;
    }
}


@media screen and (min-width: 992px){
    #headline{
        height: 800px;
    }
    .headline-content h1{
        font-size: 6em;
        padding: 1em;
    }
    .headline-content p{
        font-size: 3em;
        padding: 1em;
    }

}

/* ---- service ---- */
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.card-resto{
        background-image: url(/assets/Images/Restaurant.jpg);
    }
    &.card-guide{
        background-image: url(/assets/Images/Guide.jpg);
    }
    &.card-train{
        background-image: url(/assets/Images/Petit\ train.jpg);
    }
}
.card h3{
    font-family: "indie flower";
}

/*---- footer ----*/

footer {
    font-family: "playfair display";
}

.mentions{
    font-family: $font-family-sans-serif;
}

#backToTop{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    color: $primary;
    border-color: $primary;
    background-color: transparent;
    z-index: 1;

    &:hover{
        color: $dark;
        background-color: $primary;
        
    }
}

